RewriteEngine on

RewriteCond %{REQUEST_URI}  !^/public/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule (.*) /public/?url=$1 [L,QSA]
RewriteRule ^(/)?$ public/index.php